ratregistry.gumshoe.au {
	reverse_proxy localhost:5000
	encode gzip
}

ratuireg.gumshoe.au {
	# Registry API calls - proxy to registry
	handle /v2/* {
		reverse_proxy localhost:5000
	}
	
	# Everything else - proxy to UI
	handle {
		reverse_proxy localhost:5001
	}
	encode gzip
}

ratdev.gumshoe.au {
	reverse_proxy localhost:8082
	encode gzip
}

ratprod.gumshoe.au {
	reverse_proxy localhost:8083
	encode gzip
}
