registry.datquehuong.com {
	reverse_proxy localhost:5000
}

uireg.datquehuong.com {
	# Registry API calls - proxy to registry
	handle /v2/* {
		reverse_proxy localhost:5000
	}
	
	# Everything else - proxy to UI
	handle {
		reverse_proxy localhost:5001
	}
}

devtaps.datquehuong.com {
	reverse_proxy localhost:8082
}

prodtaps.datquehuong.com {
	reverse_proxy localhost:8083
}
